body{
    background-color: rgb(29, 27, 27);
}


.card{
    border:0px solid black;
    border-radius: 20px;
    cursor: pointer;
    color: lightgray !important;
    transition: 0.5s;

}
.card:hover{
    color: rgb(240, 55, 55) !important;
}

.movie-img{
    transition: 0.8s;
    border-radius: 20px;

}

.movie-img:hover{
    transform: scale(0.95);
    opacity: 0.5;

}

